<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD7zT-DK3zY4915ELeRxb0b80QlwYTrfzc</string>
	<key>GCM_SENDER_ID</key>
	<string>305816586207</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firstSnow</string>
	<key>PROJECT_ID</key>
	<string>first-snow-1347c</string>
	<key>STORAGE_BUCKET</key>
	<string>first-snow-1347c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:305816586207:ios:6b76fe25aee06e8490e66a</string>
</dict>
</plist>